<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>916143828783-98hp0d95rgi2g8ctscchnopaog9klf48.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916143828783-98hp0d95rgi2g8ctscchnopaog9klf48</string>
	<key>API_KEY</key>
	<string>AIzaSyDArtU5GLiSmgr31249JRmrEWy8J1onqtI</string>
	<key>GCM_SENDER_ID</key>
	<string>916143828783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moha.membership</string>
	<key>PROJECT_ID</key>
	<string>moha-e0333</string>
	<key>STORAGE_BUCKET</key>
	<string>moha-e0333.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916143828783:ios:b8d767d7323aac7d</string>
	<key>DATABASE_URL</key>
	<string>https://moha-e0333.firebaseio.com</string>
</dict>
</plist>